<!DOCTYPE html>
<html>

{{ block('head', 'member/templates/partials/_head.twig') }}

<body class="hold-transition skin-blue layout-top-nav">
<!-- Site wrapper -->
<div class="wrapper">

  {{ block('header', 'member/templates/partials/_header.twig') }}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div class="container">
      {{ block('content') }}
    </div>
  </div>
  <!-- /.content-wrapper -->

  {{ block('footer', 'member/templates/partials/_footer.twig') }}
</div>
<!-- ./wrapper -->

{{ block('scripts', 'member/templates/partials/_scripts.twig') }}
</body>
</html>
