{% extends 'member/templates/index.twig' %}

{% block content %}
<!-- DataTables -->
<link rel="stylesheet" href="{{ base_url() }}assets/admin-template/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">

<!-- Content Header (Page header) -->
<section class="content-header">
  {{ block('content_header', 'member/submission/partials/_content_header.twig') }}
</section>

<!-- Main content -->
<section class="content">

  <!-- Default box -->
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">List</h3>
      
      <div class="box-tools pull-right">
        <a href="{{ route('member.submission.create') }}"><button class="btn btn-success"><i class="fa fa-plus"></i> Tambah</button></a>
      </div>
    </div>
    <div class="box-body">
      <table id="example1" class="table table-striped" width="100%">
        <thead>
          <tr>
            <th>No.</th>
            <th>Judul Penelitian</th>
            <th>Waktu / Lama Penelitian</th>
            <th>Bidang Penelitian</th>
            <th>Status Pengajuan</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
          <tr></tr>     
        </tbody>
      </table>
    </div>

  </div>
  <!-- /.box -->

</section>
<!-- /.content -->

<!-- DataTables -->
<script src="{{ base_url() }}assets/admin-template/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="{{ base_url() }}assets/admin-template/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<!-- page script -->
<script>
  $(function () {
      
    $("#example1").DataTable({
        ordering: false,
        processing: true,
        serverSide: true,
        ajax: {
            url: "{{ base_url() }}function/datatable",
            type:'POST',
            data: {
                'modelName' : 'Submission',
                'modelLocation' : 'member/Submission',
                'columnSelects' : ['id','research_title','research_location','research_time_start','research_time_end','research_category','research_status','submission_status'],
                'columnSearches' : ['research_title','research_location'],
            },
        },
        columns: [
            { "data" : "no" },
            { "data": "research_title" },
            { 
              "data": null, 
              "mRender": function (data, type, full, meta) {
                const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                var timeStart = new Date(full['research_time_start']);
                var timeEnd = new Date(full['research_time_end']);
                return monthNames[timeStart.getMonth()] +' '+ timeStart.getFullYear() +' - '+ monthNames[timeEnd.getMonth()] +' '+ timeEnd.getFullYear();
              }
            },
            { "data": "research_category" },
            {
                "sClass": "text-center",
                "data" : "submission_status",
                "mRender": function (data) {
                  if (data == '0') {
                    return '<span class="label label-default">Belum Dikirim</span>';
                  } else if (data == '1') {
                    return '<span class="label label-warning">Diproses</span>';
                  } else if (data == '2') {
                    return '<span class="label label-primary">Menunggu Tanda Tangan</span>';
                  } else if (data == '3') {
                    return '<span class="label label-success">Selesai</span>';
                  } else if (data == '-1') {
                    return '<span class="label label-danger">Revisi</span>';
                  }
                }
            },
            {
                "sClass": "text-center",
                "data" : null,
                "mRender": function (data, type, full, meta) {
                  var buttonUpdate = '';
                  var buttonDelete = '';
                  if (full['submission_status'] < 1) {
                    buttonUpdate = '<a class="btn btn-info" href="{{ base_url() }}member/submission/update/'+ full['id'] +'"><i class="fa fa-edit"></i> Ubah</a>';
                  } else {
                    buttonUpdate = '<button class="btn btn-default" disabled><i class="fa fa-edit"></i> Ubah</button>';
                  }

                  if (full['submission_status'] == 0) {
                    buttonDelete = '<a class="btn btn-danger" href="{{ base_url() }}member/submission/delete/'+ full['id'] +'" onclick="javascript:return confirm(\'Anda yakin?\');"><i class="fa fa-trash"></i> Hapus</a>';
                  } else {                    
                    buttonDelete = '<button type="button" class="btn btn-default" disabled><i class="fa fa-trash"></i> Hapus</button>';
                  }
                  
                  return buttonUpdate + ' ' + buttonDelete;
                }
            }
        ]

    });
  })
</script>
{% endblock %}