{% block content_header %}
<h1>
    Profile
    <small>Profile anda</small>
</h1>
<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
    
    {% if route('member.submission.create') == current_url() %}
      <li><a href="#">Tambah</a></li>
    {% endif %}
</ol>
{% endblock %}