{% block form %}

<form class="form-horizontal" action="{{ route('member.profile.store') }}" method="POST" enctype="multipart/form-data">
    <div class="box-body">

        <input type="hidden" name="id" value="{{ current_data.id }}">
        <input type="hidden" name="form_type" value="{{ form_type }}">

        <div class="form-group {{ form_error('email') ? 'has-error' }}">
            <label for="email" class="col-sm-4 control-label">Email</label>
            <div class="col-sm-8">
                <input type="input" class="form-control" name="email" value="{{ set_value('email', current_data.email) }}">
                <span class="help-block">{{ form_error('email') }}</span>
            </div>
        </div>
        
        <div class="form-group {{ form_error('password') ? 'has-error' }}">
            <label for="password" class="col-sm-4 control-label">Password</label>
            <div class="col-sm-8">
                <input type="input" class="form-control" name="password" placeholder="Kosongkan jika tidak ingin ganti password">
                <span class="help-block">{{ form_error('password') }}</span>
            </div>
        </div>

        <div class="form-group {{ form_error('identity_number') ? 'has-error' }}">
            <label for="identity_number" class="col-sm-4 control-label">Identitas / NIP / NIM / NIK</label>
            <div class="col-sm-8">
                <input type="input" class="form-control" name="identity_number" value="{{ set_value('identity_number', current_data.additional_data.identity_number) }}">
                <span class="help-block">{{ form_error('identity_number') }}</span>
            </div>
        </div>

        <div class="form-group {{ form_error('name') ? 'has-error' }}">
            <label for="name" class="col-sm-4 control-label">Nama Lengkap</label>
            <div class="col-sm-8">
                <input type="input" class="form-control" name="name" value="{{ set_value('name', current_data.name) }}">
                <span class="help-block">{{ form_error('name') }}</span>
            </div>
        </div>

        <div class="form-group {{ form_error('address') ? 'has-error' }}">
            <label for="address" class="col-sm-4 control-label">Alamat</label>
            <div class="col-sm-8">
                <input type="input" class="form-control" name="address" value="{{ set_value('address', current_data.additional_data.address) }}">
                <span class="help-block">{{ form_error('address') }}</span>
            </div>
        </div>

        <div class="form-group {{ form_error('institution') ? 'has-error' }}">
            <label for="institution" class="col-sm-4 control-label">Lembaga Pendidikan / Perguruan Tinggi</label>
            <div class="col-sm-8">
                <input type="input" class="form-control" name="institution" value="{{ set_value('institution', current_data.additional_data.institution) }}">
                <span class="help-block">{{ form_error('institution') }}</span>
            </div>
        </div>

        <div class="form-group {{ form_error('faculty') ? 'has-error' }}">
            <label for="faculty" class="col-sm-4 control-label">Fakultas / Jurusan</label>
            <div class="col-sm-8">
                <input type="input" class="form-control" name="faculty" value="{{ set_value('faculty', current_data.additional_data.faculty) }}">
                <span class="help-block">{{ form_error('faculty') }}</span>
            </div>
        </div>

        <div class="form-group {{ form_error('picture') ? 'has-error' }}">
            <label for="picture" class="col-sm-4 control-label">Lampiran</label>
            <div class="col-sm-8">
                {% if (current_data.picture == NULL) %}
                    <img src="{{ base_url() }}assets/admin-template/dist/img/avatar5.png" width="250"> <p></p>
                {% else %}
                    <img src="{{ base_url() }}uploads/profiles/{{ current_data.picture }}" width="250"> <p></p> 
                {% endif %}
                <input type="file" class="form-control" name="picture" accept=".jpg, .png">
                <span class="help-block">{{ form_error('picture') }}</span>
                File gambar haru berformat .jpg atau .png. File tidak boleh lebih dari 5MB.
            </div>
        </div>


    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <a href="{{ route('member.submission') }}"><button type="button" class="btn btn-default"><i class="fa fa-arrow-left"></i> Kembali</button></a>
        <div class="pull-right">
            <button type="submit" class="btn btn-success" name="buttonSubmit" value="save"><i class="fa fa-save"></i> Simpan</button>
        </div>
    </div>
    <!-- /.box-footer -->
</form>

{% endblock %}