<!DOCTYPE html>
<html>

{{ block('head', 'admin/templates/partials/_head.twig') }}

<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

  {{ block('header', 'admin/templates/partials/_header.twig') }}

  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  {{ block('sidebar', 'admin/templates/partials/_sidebar.twig') }}

  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {{ block('content') }}
  </div>
  <!-- /.content-wrapper -->

  {{ block('footer', 'admin/templates/partials/_footer.twig') }}

  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

{{ block('scripts', 'admin/templates/partials/_scripts.twig') }}
</body>
</html>
