{% extends 'admin/templates/index.twig' %}

{% block content %}
<!-- DataTables -->
<link rel="stylesheet" href="{{ base_url() }}assets/admin-template/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
<!-- daterange picker -->
<link rel="stylesheet" href="{{ base_url() }}assets/admin-template/bower_components/bootstrap-daterangepicker/daterangepicker.css">

<!-- Content Header (Page header) -->
<section class="content-header">
    {{ block('content_header', 'admin/submission_report/partials/_content_header.twig') }}
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">List Pengajuan</h3>
        </div>
        <form action="{{ route('admin.report.submission.print') }}" method="POST" target="_blank">
            <div class="box-header with-border">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Jarak Tanggal:</label>

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="reservation" name="reservation">
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-header with-border">
                <button type="submit" class="btn btn-warning"><i class="fa fa-print"></i> Cetak</button>
            </div>
        </form>
        <div class="box-body">
            <table id="example1" class="table table-striped" width="100%">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>No. Penelitian</th>
                        <th>Judul Penelitian</th>
                        <th>Waktu / Lama Penelitian</th>
                        <th>Bidang Penelitian</th>
                        <th>Nama</th>
                        <th>Lembaga Pendidikan</th>
                        <th>Lampiran</th>
                        <th>Status Pengajuan</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>     
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            Footer
        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->

</section>
<!-- /.content -->

<!-- DataTables -->
<script src="{{ base_url() }}assets/admin-template/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="{{ base_url() }}assets/admin-template/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- date-range-picker -->
<script src="{{ base_url() }}assets/admin-template/bower_components/moment/min/moment.min.js"></script>
<script src="{{ base_url() }}assets/admin-template/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>

<!-- page script -->
<script>
$(function () {
    let dateRange = '';

    loadDatatable();

    //Date range picker
    $('#reservation').daterangepicker({
        locale: {
            format: 'DD/MM/YYYY'
        },
    })

    $('#reservation').change(function() {
        dateRange = $(this).val();
        $("#example1").DataTable().destroy();
        loadDatatable();
    })
      
    function loadDatatable(){
        $("#example1").DataTable({
            paging: false,
            searching: false,
            ordering: false,
            processing: true,
            serverSide: true,
            ajax: {
                url: "{{ base_url() }}function/datatable",
                type:'POST',
                data: {
                    'modelName' : 'SubmissionReport',
                    'modelLocation' : 'admin/SubmissionReport',
                    'columnSelects' : ['id','name','institution','research_number','research_title','research_location','research_time_start','research_time_end','research_category','research_status','submission_status','attachment'],
                    'columnSearches' : ['research_title','research_location'],
                    'dateRange' : dateRange,
                },
                error: function(jqXHR, textStatus, ex) {
                    console.log(textStatus + "," + ex + "," + jqXHR.responseText);
                }
            },
            columns: [
                { "data" : "no" },
                { "data" : "research_number" },
                { "data": "research_title" },
                { 
                    "data": null, 
                    "mRender": function (data, type, full, meta) {
                        const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                        var timeStart = new Date(full['research_time_start']);
                        var timeEnd = new Date(full['research_time_end']);
                        return monthNames[timeStart.getMonth()] +' '+ timeStart.getFullYear() +' - '+ monthNames[timeEnd.getMonth()] +' '+ timeEnd.getFullYear();
                    }
                },
                { "data": "research_category" },
                { "data": "name" },
                { "data": "institution" },
                {
                    "sClass": "text-center",
                    "data" : "attachment",
                    "mRender": function (data) {
                        return '<a href="{{ base_url() }}uploads/attachments/' +data+ '">' +data+ '</a>';
                    }
                },
                {
                    "sClass": "text-center",
                    "data" : "submission_status",
                    "mRender": function (data) {
                        if (data == '0') {
                            return '<span class="label label-default">Belum Dikirim</span>';
                        } else if (data == '1') {
                            return '<span class="label label-warning">Diproses</span>';
                        } else if (data == '2') {
                            return '<span class="label label-primary">Menunggu Tanda Tangan</span>';
                        } else if (data == '3') {
                            return '<span class="label label-success">Selesai</span>';
                        } else if (data == '-1') {
                            return '<span class="label label-danger">Revisi</span>';
                        }
                    }
                },
            ]
        });
    }
})
</script>
{% endblock %}