
<!-- Bootstrap 3.3.7 -->
<link rel="stylesheet" href="{{ base_url() }}assets/admin-template/bower_components/bootstrap/dist/css/bootstrap.min.css">

<style>
table > tbody > tr > td, 
table > thead > tr > th {
    padding: 5px;
    font-size: 8;
}
</style>

<html>

<head>
  <title>Cetak</title>
</head>

<body>
    <table style="border-collapse: collapse; width: 100%;">
        <tbody>
            <tr style="vertical-align: bottom;">
                <td style="width: 100px">
                    <img src="{{ base_url() }}assets/admin-template/dist/img/logo-kab-banjar.png" width="100" height="80">
                </td>
                <td>
                    <p style="text-align: center;"><strong><span style="font-family: 'times new roman', times; font-size: 12pt;">
                        PEMERINTAH KABUPATEN BANJAR<br /></span></strong><strong><span
                            style="font-family: arial, helvetica, sans-serif; font-size: 14pt;">BADAN
                                KESATUAN BANGSA DAN POLITIK<br /></span></strong><span
                            style="font-family: arial, helvetica, sans-serif; font-size: 8pt;">JL. A. YANI KM. 40 GEDUNG BERINTAN LT.III
                            MARTAPURA KAL-SEL TELP/FAX (0511) 4721113</span></p>
                </td>
                <td style="width: 100px">&nbsp;</td>
            </tr>
        </tbody>    
    </table>
    <hr />

    <h5 style="text-align: center;">Laporan Pengajuan Penelitian Tanggal <b>{{ date_renge }}</b></h5>

    <table border="1" width="100%">
        <thead>
            <tr>
                <th>No.</th>
                <th>No. Penelitian</th>
                <th>Judul Penelitian</th>
                <th>Waktu / Lama Penelitian</th>
                <th>Bidang Penelitian</th>
                <th>Nama</th>
                <th>Lembaga Pendidikan</th>
                <th>Tanggal Pengajuan</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in current_data %}
            <tr>
                <td>{{ key + 1 }}</td>
                <td>{{ value.research_number }}</td>
                <td>{{ value.research_title }}</td>
                <td>{{ value.research_time_start|date('M Y') }} - {{ value.research_time_end|date('M Y') }}</td>
                <td>{{ value.research_category }}</td>
                <td>{{ value.name }}</td>
                <td>{{ value.institution }}</td>
                <td>{{ value.created_at|date('d/m/Y H:i') }}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>