{% block content_header %}
<h1>
    Pengajuan
    <small>Pengajuan rekomendasi penelitian</small>
</h1>
<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-file-text-o"></i> Pengajuan</a></li>
    
    {% if route('member.submission.create') == current_url() %}
      <li><a href="#">Tambah</a></li>
    {% endif %}
</ol>
{% endblock %}