{% block form %}


<!-- daterange picker -->
<link rel="stylesheet" href="{{ base_url() }}assets/admin-template/bower_components/bootstrap-daterangepicker/daterangepicker.css">
<!-- bootstrap datepicker -->
<link rel="stylesheet" href="{{ base_url() }}assets/admin-template/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
<!-- bootstrap wysihtml5 - text editor -->
<link rel="stylesheet" href="{{ base_url() }}assets/admin-template/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

<form class="form-horizontal" action="{{ route('member.submission.store') }}" method="POST" enctype="multipart/form-data">
    <div class="box-body">

        <input type="hidden" name="id" value="{{ current_data.id }}">
        <input type="hidden" name="form_type" value="{{ form_type }}">

        <div class="form-group {{ form_error('identity_number') ? 'has-error' }}">
            <label for="identity_number" class="col-sm-4 control-label">Identitas / NIP / NIM / NIK</label>
            <div class="col-sm-8">
                <input type="input" class="form-control" name="identity_number" value="{{ set_value('identity_number', (form_type == 'create' ? current_data.additional_data.identity_number : current_data.identity_number)) }}">
                <span class="help-block">{{ form_error('identity_number') }}</span>
            </div>
        </div>

        <div class="form-group {{ form_error('name') ? 'has-error' }}">
            <label for="name" class="col-sm-4 control-label">Nama / Obyek</label>
            <div class="col-sm-8">
                <input type="input" class="form-control" name="name" value="{{ set_value('name', current_data.name) }}">
                <span class="help-block">{{ form_error('name') }}</span>
            </div>
        </div>

        <div class="form-group {{ form_error('address') ? 'has-error' }}">
            <label for="address" class="col-sm-4 control-label">Alamat</label>
            <div class="col-sm-8">
                <input type="input" class="form-control" name="address" value="{{ set_value('address', (form_type == 'create' ? current_data.additional_data.address : current_data.address)) }}">
                <span class="help-block">{{ form_error('address') }}</span>
            </div>
        </div>

        <div class="form-group {{ form_error('institution') ? 'has-error' }}">
            <label for="institution" class="col-sm-4 control-label">Lembaga Pendidikan / Perguruan Tinggi</label>
            <div class="col-sm-8">
                <input type="input" class="form-control" name="institution" value="{{ set_value('institution', (form_type == 'create' ? current_data.additional_data.institution : current_data.institution)) }}">
                <span class="help-block">{{ form_error('institution') }}</span>
            </div>
        </div>

        <div class="form-group {{ form_error('faculty') ? 'has-error' }}">
            <label for="faculty" class="col-sm-4 control-label">Fakultas / Jurusan</label>
            <div class="col-sm-8">
                <input type="input" class="form-control" name="faculty" value="{{ set_value('faculty', (form_type == 'create' ? current_data.additional_data.faculty : current_data.faculty)) }}">
                <span class="help-block">{{ form_error('faculty') }}</span>
            </div>
        </div>

        <div class="form-group {{ form_error('research_title') ? 'has-error' }}">
            <label for="research_title" class="col-sm-4 control-label">Judul Penelitian</label>
            <div class="col-sm-8">
                <input type="input" class="form-control" name="research_title" value="{{ set_value('research_title', current_data.research_title) }}">
                <span class="help-block">{{ form_error('research_title') }}</span>
            </div>
        </div>

        <div class="form-group {{ form_error('research_location') ? 'has-error' }}">
            <label for="research_location" class="col-sm-4 control-label">Lokasi Penelitian</label>
            <div class="col-sm-8">
                <input type="input" class="form-control" name="research_location" value="{{ set_value('research_location', current_data.research_location) }}">
                <span class="help-block">{{ form_error('research_location') }}</span>
            </div>
        </div>

        <div class="form-group {{ form_error('research_time_start') or form_error('research_time_end') ? 'has-error' }}">
            <label for="research_time_start" class="col-sm-4 control-label">Waktu / Lama Penelitian</label>
            <div class="col-sm-4">
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right datepicker" name="research_time_start" placeholder="Bulan Awal" value="{{ set_value('research_time_start', (current_data.research_time_start != null ? current_data.research_time_start|date('M-Y'))) }}">
                </div>
                <span class="help-block">{{ form_error('research_time_start') }}</span>
            </div>
            <div class="col-sm-4">                
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right datepicker" name="research_time_end" placeholder="Bulan Akhir" value="{{ set_value('research_time_end', (current_data.research_time_end != null ? current_data.research_time_end|date('M-Y'))) }}">
                </div>
                <span class="help-block">{{ form_error('research_time_end') }}</span>
            </div>
        </div>

        <div class="form-group {{ form_error('research_category') ? 'has-error' }}">
            <label for="research_category" class="col-sm-4 control-label">Bidang Penelitian</label>
            <div class="col-sm-8">
                <input type="input" class="form-control" name="research_category" value="{{ set_value('research_category', current_data.research_category) }}">
                <span class="help-block">{{ form_error('research_category') }}</span>
            </div>
        </div>

        <div class="form-group {{ form_error('research_status') ? 'has-error' }}">
            <label for="research_status" class="col-sm-4 control-label">Status Penelitian</label>
            <div class="col-sm-8">
                <input type="input" class="form-control" name="research_status" value="{{ set_value('research_status', current_data.research_status) }}">
                <span class="help-block">{{ form_error('research_status') }}</span>
            </div>
        </div>

        <div class="form-group {{ form_error('research_member') ? 'has-error' }}">
            <label for="research_member" class="col-sm-4 control-label">Anggota (opsional)</label>
            <div class="col-sm-8">
                <textarea class="textarea" placeholder="Kosongkan jika tanpa anggota" name="research_member"
                    style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;">
                    {{ set_value('research_member', current_data.research_member) }}
                </textarea>
                <span class="help-block">{{ form_error('research_member') }}</span>
            </div>
        </div>

        <div class="form-group {{ form_error('tembusan') ? 'has-error' }}">
            <label for="tembusan" class="col-sm-4 control-label">Tembusan Surat (opsional)</label>
            <div class="col-sm-8">
                <textarea class="textarea" placeholder="Kosongkan jika tidak ada" name="tembusan"
                    style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;">
                    {{ set_value('tembusan', current_data.tembusan) }}
                </textarea>
                <span class="help-block">{{ form_error('tembusan') }}</span>
            </div>
        </div>

        <div class="form-group {{ form_error('attachment') ? 'has-error' }}">
            <label for="attachment" class="col-sm-4 control-label">Lampiran</label>
            <div class="col-sm-8">
                {% if (current_data.attachment != NULL) %}
                    Lampiran anda: <a href="{{ base_url() }}uploads/attachments/{{ current_data.attachment }}">attachment.zip</a>
                {% endif %}
                <input type="file" class="form-control" name="attachment" accept=".zip,.rar">
                <span class="help-block">{{ form_error('attachment') }}</span>
                <ul>
                    <li>File harus dalam bentuk .zip atau .rar. </li>
                    <li>Ukuran file maksimal 7 MB</li>
                    <li><b>Info lebih lanjut mengenai apa saja file yang dimasukan kedalam zip silahkan klik tombol dibawah ini</b> <a class="btn btn-warning btn-xs" href="" data-toggle="modal" data-target="#modal-default">Persyaratan</a></li>
                </ul>
            </div>
        </div>

        {% if current_data.revision_note != NULL %}
            <hr>
            <div class="form-group has-warning">
                <label for="attachment" class="col-sm-4 control-label">Catatan Revisi</label>
                <div class="col-sm-8">
                    <textarea class="textarea" disabled style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;">
                        {{ current_data.revision_note|raw }}
                    </textarea>
                </div>
            </div>
            
        {% endif %}

    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <a href="{{ route('member.submission') }}"><button type="button" class="btn btn-default"><i class="fa fa-arrow-left"></i> Kembali</button></a>
        <div class="pull-right">
            <button type="submit" class="btn btn-info" name="buttonSubmit" value="save"><i class="fa fa-save"></i> Simpan</button>
            <button type="submit" class="btn btn-success" name="buttonSubmit" value="saveAndSend"><i class="fa fa-send"></i> Simpan & Kirim</button>
        </div>
    </div>
    <!-- /.box-footer -->
</form>

{{ block('modal_info_file', 'member/submission/partials/_modal_info_file.twig') }}

<!-- date-range-picker -->
<script src="{{ base_url() }}assets/admin-template/bower_components/moment/min/moment.min.js"></script>
<script src="{{ base_url() }}assets/admin-template/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- bootstrap datepicker -->
<script src="{{ base_url() }}assets/admin-template/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script> 
<!-- Bootstrap WYSIHTML5 -->
<script src="{{ base_url() }}assets/admin-template/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>

<!-- Page script -->
<script>
  $(function () {

    //Date picker
    $('.datepicker').datepicker({
        autoclose: true,
        format: "M-yyyy",
        viewMode: "months", 
        minViewMode: "months"
    })

    //bootstrap WYSIHTML5 - text editor
    $('.textarea').wysihtml5({
        toolbar: {
            "image": false
        }
    })
  })
</script>
{% endblock %}