{% block content_header %}
<h1>
    Pegawai
    <small>Pegawai Kesbangpol</small> 
</h1>
<ol class="breadcrumb">
    <li class="active"><a href=""><i class="fa fa-file-text-o"></i> Pegawai</a></li>
    
    {% if route('admin.employee.create') == current_url() %}
      <li><a href="#">Tambah</a></li>
    {% endif %}
    
    {% if route('admin.employee.update', {'id' : (current_data != null ? current_data.id : 0)}) == current_url() %}
      <li><a href="{{ route('admin.employee.update', {'id' : current_data.id}) }}">Perbarui</a></li>
    {% endif %}
</ol>
{% endblock %}