{% block form %}
<form class="form-horizontal" action="{{ route('admin.employee.store') }}" method="POST">
    <div class="box-body">

        <input type="hidden" name="id" value="{{ current_data.id }}">
        <input type="hidden" name="form_type" value="{{ form_type }}">

        <div class="form-group {{ form_error('email') ? 'has-error' }}">
            <label for="email" class="col-sm-2 control-label">Email</label>

            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="{{ set_value('email', current_data.email) }}">
                <span class="help-block">{{ form_error('email') }}</span>
            </div>
        </div>

        <div class="form-group {{ form_error('name') ? 'has-error' }}">
            <label for="name" class="col-sm-2 control-label">Nama Lengkap</label>

            <div class="col-sm-10">
                <input type="input" class="form-control" id="name" name="name" placeholder="Nama Lengkap" value="{{ set_value('name', current_data.name) }}">
                <span class="help-block">{{ form_error('name') }}</span>
            </div>
        </div>
        
        <div class="form-group {{ form_error('password') ? 'has-error' }}">
            <label for="password" class="col-sm-2 control-label">Password</label>

            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                <span class="help-block">{{ form_error('password') }}</span>
            </div>
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <a href="{{ route('admin.employee') }}"><button type="button" class="btn btn-default"><i class="fa fa-arrow-left"></i> Kembali</button></a>
        <button type="submit" class="btn btn-success pull-right"><i class="fa fa-save"></i> Simpan</button>
    </div>
    <!-- /.box-footer -->
</form>
{% endblock %}