{% extends 'admin/templates/index.twig' %}

{% block content %}
<!-- DataTables -->
<link rel="stylesheet" href="{{ base_url() }}assets/admin-template/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">

<!-- Content Header (Page header) -->
<section class="content-header">
    {{ block('content_header', 'admin/employee/partials/_content_header.twig') }}
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Tambah</h3>
        </div>
        
        {{ block('form', 'admin/employee/partials/_form.twig') }}
    </div>
    <!-- /.box -->

</section>
<!-- /.content -->

{% endblock %}