{% extends 'admin/templates/index.twig' %}

{% block content %}
<!-- DataTables -->
<link rel="stylesheet" href="{{ base_url() }}assets/admin-template/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">

<!-- Content Header (Page header) -->
<section class="content-header">
    {{ block('content_header', 'admin/employee/partials/_content_header.twig') }}
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">List Pegawai</h3>

        <div class="box-tools pull-right">
            <a href="{{ route('admin.employee.create') }}"><button class="btn btn-success"><i class="fa fa-plus"></i> Tambah</button></a>
        </div>
    </div> 
    <div class="box-body">
        <table id="example1" class="table table-striped" width="100%">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Email</th>
                    <th>Nama Lengkap</th>
                    <th>Status</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                </tr>     
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        Footer
    </div>
    <!-- /.box-footer-->
    </div>
    <!-- /.box -->

</section>
<!-- /.content -->

<!-- DataTables -->
<script src="{{ base_url() }}assets/admin-template/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="{{ base_url() }}assets/admin-template/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<!-- page script -->
<script>
  $(function () {
      
    $("#example1").DataTable({
        ordering: false,
        processing: true,
        serverSide: true,
        ajax: {
            url: "{{ base_url() }}function/datatable",
            type:'POST',
            data: {
                'modelName' : 'Employee',
                'modelLocation' : 'admin/Employee',
                'columnSelects' : ['id','email','username','name','active'],
                'columnSearches' : ['email','name'],
            },
            error: function(jqXHR, textStatus, ex) {
                console.log(textStatus + "," + ex + "," + jqXHR.responseText);
            }
        },
        columns: [
            { "data" : "no"},
            { "data": "email" },
            { "data": "name" },
            {
                "sClass": "text-center",
                "data" : "active",
                "mRender": function (data) {
                    if (data == 1) {
                        return '<span class="label label-success">Aktif</span>';
                    } else {
                        return '<span class="label label-default">Belum Aktif</span>';
                    }
                }
            },
            {
                "sClass": "text-center",
                "data" : "id",
                "mRender": function (data) {
                    return '<a class="btn btn-info" href="{{ base_url() }}admin/employee/update/'+ data +'"><i class="fa fa-edit"></i> Ubah</a>  \n\
                    <a class="btn btn-danger" href="{{ base_url() }}admin/employee/delete/'+ data +'" onclick="javascript:return confirm(\'Anda yakin?\');"><i class="fa fa-trash"></i> Hapus</a>';
                }
            }
        ]

    });
  })
</script>
{% endblock %}