<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ site_title }} | Daftar</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="{{ base_url() }}assets/admin-template/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ base_url() }}assets/admin-template/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="{{ base_url() }}assets/admin-template/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ base_url() }}assets/admin-template/dist/css/AdminLTE.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="{{ base_url() }}assets/admin-template/plugins/iCheck/square/blue.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>{{ site_title }}</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Daftar</p>

    <form action="{{ route('member.register.verify') }}" method="post">
      <p class="text-yellow text-center">{{ message }}</p>
      <div class="form-group {{ form_error('email') ? 'has-error' : 'has-feedback' }}">
        <input type="text" class="form-control" name="email" placeholder="Email" value="{{ set_value('email') }}">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <span class="help-block">{{ form_error('email') }}</span>
      </div>

      <div class="form-group {{ form_error('identity_number') ? 'has-error' : 'has-feedback' }}">
        <input type="text" class="form-control" name="identity_number" placeholder="Nomor Identitas / NIP / NIM / NIK" value="{{ set_value('identity_number') }}">
        <span class="fa fa-user-secret form-control-feedback"></span>
        <span class="help-block">{{ form_error('identity_number') }}</span>
      </div>

      <div class="form-group {{ form_error('name') ? 'has-error' : 'has-feedback' }}">
        <input type="text" class="form-control" name="name" placeholder="Nama Lengkap" value="{{ set_value('name') }}">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        <span class="help-block">{{ form_error('name') }}</span>
      </div>

      <div class="form-group {{ form_error('address') ? 'has-error' : 'has-feedback' }}">
        <input type="text" class="form-control" name="address" placeholder="Alamat" value="{{ set_value('address') }}">
        <span class="fa fa-map-signs form-control-feedback"></span>
        <span class="help-block">{{ form_error('address') }}</span>
      </div>

      <div class="form-group {{ form_error('institution') ? 'has-error' : 'has-feedback' }}">
        <input type="text" class="form-control" name="institution" placeholder="Lembaga Pendidikan / Perguruan Tinggi" value="{{ set_value('institution') }}">
        <span class="fa fa-university form-control-feedback"></span>
        <span class="help-block">{{ form_error('institution') }}</span>
      </div>

      <div class="form-group {{ form_error('faculty') ? 'has-error' : 'has-feedback' }}">
        <input type="text" class="form-control" name="faculty" placeholder="Fakultas / Jurusan" value="{{ set_value('faculty') }}">
        <span class="fa fa-suitcase form-control-feedback"></span>
        <span class="help-block">{{ form_error('faculty') }}</span>
      </div>

      <div class="form-group {{ form_error('password') ? 'has-error' : 'has-feedback' }}">
        <input type="password" class="form-control" name="password" placeholder="Kata Sandi">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <span class="help-block">{{ form_error('password') }}</span>
      </div>

      <div class="form-group {{ form_error('password_confirm') ? 'has-error' : 'has-feedback' }}">
        <input type="password" class="form-control" name="password_confirm" placeholder="Ketik Ulang Kata Sandi">
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
        <span class="help-block">{{ form_error('password_confirm') }}</span>
      </div>

      <div class="row">
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
    <br>
    <a href="{{ route('member.login') }}" class="text-center">Log In</a>
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<!-- jQuery 3 -->
<script src="{{ base_url() }}assets/admin-template/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{{ base_url() }}assets/admin-template/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="{{ base_url() }}assets/admin-template/plugins/iCheck/icheck.min.js"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' /* optional */
    });
  });
</script>
</body>
</html>
