{% block form %}

<!-- daterange picker -->
<link rel="stylesheet" href="{{ base_url() }}assets/admin-template/bower_components/bootstrap-daterangepicker/daterangepicker.css">
<!-- bootstrap datepicker -->
<link rel="stylesheet" href="{{ base_url() }}assets/admin-template/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">

<form class="form-horizontal" action="{{ route('admin.submission.store') }}" method="POST" enctype="multipart/form-data">
    <div class="box-body">

        <input type="hidden" name="id" value="{{ current_data.id }}">
        <input type="hidden" name="form_type" value="{{ form_type }}">

        <div class="form-group">
            <label class="col-sm-4 control-label">Identitas / NIP / NIM / NIK</label>
            <div class="col-sm-8">
                <input type="input" class="form-control" name="identity_number" value="{{ set_value('identity_number', (form_type == 'create' ? current_data.additional_data.identity_number : current_data.identity_number)) }}" readonly>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Nama / Obyek</label>
            <div class="col-sm-8">
                <input type="input" class="form-control" name="name" value="{{ set_value('name', current_data.name) }}" readonly>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Alamat</label>
            <div class="col-sm-8">
                <input type="input" class="form-control" name="address" value="{{ set_value('address', (form_type == 'create' ? current_data.additional_data.address : current_data.address)) }}" readonly>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Lembaga Pendidikan / Perguruan Tinggi</label>
            <div class="col-sm-8">
                <input type="input" class="form-control" name="institution" value="{{ set_value('institution', (form_type == 'create' ? current_data.additional_data.institution : current_data.institution)) }}" readonly>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Fakultas / Jurusan</label>
            <div class="col-sm-8">
                <input type="input" class="form-control" name="faculty" value="{{ set_value('faculty', (form_type == 'create' ? current_data.additional_data.faculty : current_data.faculty)) }}" readonly>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Judul Penelitian</label>
            <div class="col-sm-8">
                <input type="input" class="form-control" name="research_title" value="{{ set_value('research_title', current_data.research_title) }}" readonly>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Lokasi Penelitian</label>
            <div class="col-sm-8">
                <input type="input" class="form-control" name="research_location" value="{{ set_value('research_location', current_data.research_location) }}" readonly>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Waktu / Lama Penelitian</label>
            <div class="col-sm-4">
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right" name="research_time_start" placeholder="Bulan Awal" value="{{ set_value('research_time_start', (current_data.research_time_start != null ? current_data.research_time_start|date('M-Y'))) }}" readonly>
                </div>
            </div>
            <div class="col-sm-4">                
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right" name="research_time_end" placeholder="Bulan Akhir" value="{{ set_value('research_time_end', (current_data.research_time_end != null ? current_data.research_time_end|date('M-Y'))) }}" readonly>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Bidang Penelitian</label>
            <div class="col-sm-8">
                <input type="input" class="form-control" name="research_category" value="{{ set_value('research_category', current_data.research_category) }}" readonly>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Status Penelitian</label>
            <div class="col-sm-8">
                <input type="input" class="form-control" name="research_status" value="{{ set_value('research_status', current_data.research_status) }}" readonly>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Lampiran</label>
            <div class="col-sm-8">
                {% if (current_data.attachment != NULL) %}
                    <a href="{{ base_url() }}uploads/attachments/{{ current_data.attachment }}">attachment.zip</a>
                {% endif %}
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-4 control-label">Anggota</label>
            <div class="col-sm-8">
                {% if (current_data.research_member != NULL) %}
                    {{ current_data.research_member|raw }}
                {% else %}
                    (Tidak ada anggota)
                {% endif %}
            </div>
        </div>  

        <div class="form-group">
            <label class="col-sm-4 control-label">Tembusan</label>
            <div class="col-sm-8">
                {% if (current_data.tembusan != NULL) %}
                    {{ current_data.tembusan|raw }}
                {% else %}
                    (Tidak ada data)
                {% endif %}
            </div>
        </div>        

    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <a href="{{ route('admin.submission') }}"><button type="button" class="btn btn-default"><i class="fa fa-arrow-left"></i> Kembali</button></a>
        <div class="pull-right">

            {% if current_data.submission_status == 1 %}
                <a href="{{ route('admin.submission.update.revision', {id: current_data.id}) }}"><button type="button" class="btn btn-info"><i class="fa fa-save"></i> Revisi</button></a>
                <a href="{{ route('admin.submission.update.numbering', {id: current_data.id}) }}"><button type="button" class="btn btn-success"><i class="fa fa-send"></i> Persyaratan Lengkap & Beri Nomor</button></a>
            {% elseif current_data.submission_status == 2 %}
                <button type="submit" class="btn btn-success" name="buttonSubmit" value="wait_numbering"><i class="fa fa-check"></i> Sudah Ditandatangani</button></a>
            {% endif %}
        </div>
    </div>
    <!-- /.box-footer -->
</form>

{{ block('modal_info_file', 'member/submission/partials/_modal_info_file.twig') }}

<!-- date-range-picker -->
<script src="{{ base_url() }}assets/admin-template/bower_components/moment/min/moment.min.js"></script>
<script src="{{ base_url() }}assets/admin-template/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- bootstrap datepicker -->
<script src="{{ base_url() }}assets/admin-template/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script> 

<!-- Page script -->
<script>
  $(function () {

    //Date picker
    $('.datepicker').datepicker({
        autoclose: true,
        format: "M-yyyy",
        viewMode: "months", 
        minViewMode: "months"
    })

  })
</script>
{% endblock %}