{% block form %}

<!-- bootstrap wysihtml5 - text editor -->
<link rel="stylesheet" href="{{ base_url() }}assets/admin-template/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

<form class="form-horizontal" action="{{ route('admin.submission.store') }}" method="POST" enctype="multipart/form-data">
    <div class="box-body">

        <input type="hidden" name="id" value="{{ current_data.id }}">
        <input type="hidden" name="form_type" value="{{ form_type }}">

        <div class="form-group {{ form_error('revision_note') ? 'has-error' }}">
            <label for="revision_note" class="col-sm-2 control-label">Catatan Revisi</label>
            <div class="col-sm-10">
                <textarea class="textarea" placeholder="Place some text here" name="revision_note"
                    style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;">
                    {{ set_value('revision_note', current_data.revision_note) }}
                </textarea>
                <span class="help-block">{{ form_error('revision_note') }}</span>
            </div>
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <a href="{{ route('admin.submission.update', {id: current_data.id}) }}"><button type="button" class="btn btn-default"><i class="fa fa-arrow-left"></i> Kembali</button></a>
        <div class="pull-right">
            <button type="submit" class="btn btn-success" name="buttonSubmit" value="save"><i class="fa fa-save"></i> Simpan Revisi</button>
        </div>
    </div>
    <!-- /.box-footer -->
</form>

<!-- Bootstrap WYSIHTML5 -->
<script src="{{ base_url() }}assets/admin-template/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>

<!-- Page script -->
<script>
  $(function () {

    //bootstrap WYSIHTML5 - text editor
    $('.textarea').wysihtml5({
        toolbar: {
            "image": false
        }
    })

  })
</script>
{% endblock %}