{% block form %}

<!-- bootstrap wysihtml5 - text editor -->
<link rel="stylesheet" href="{{ base_url() }}assets/admin-template/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
<!-- bootstrap datepicker -->
<link rel="stylesheet" href="{{ base_url() }}assets/admin-template/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">

<form class="form-horizontal" action="{{ route('admin.submission.store') }}" method="POST" enctype="multipart/form-data">
    <div class="box-body">

        <input type="hidden" name="id" value="{{ current_data.id }}">
        <input type="hidden" name="form_type" value="{{ form_type }}">

        <hr>

        <div class="form-group">            
            <div class="col-sm-offset-2 col-sm-10">
                <h4>Pengaturan Cetak</h4>
            </div>
        </div>

        <div class="form-group {{ form_error('menimbang') ? 'has-error' }}">
            <label for="menimbang" class="col-sm-2 control-label">Menimbang</label>
            <div class="col-sm-10">
                <input type="input" class="form-control" name="menimbang" value="{{ set_value('menimbang') }}">
                <span class="help-block">{{ form_error('menimbang') }}</span>
            </div>
        </div>

        <div class="form-group {{ form_error('tanggal_surat') ? 'has-error' }}">
            <label for="tanggal_surat" class="col-sm-2 control-label">Tanggal Surat Rekomendasi</label>
            <div class="col-sm-10">
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right datepicker" name="tanggal_surat">
                </div>
                <span class="help-block">{{ form_error('tanggal_surat') }}</span>
            </div>
        </div>

        <div class="form-group {{ form_error('tembusan') ? 'has-error' }}">
            <label for="tembusan" class="col-sm-2 control-label">Tembusan</label>
            <div class="col-sm-10">
                <textarea class="textarea" placeholder="Place some text here" name="tembusan"
                    style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;">
                    {{ set_value('tembusan', current_data.tembusan) }}
                </textarea>
                <span class="help-block">{{ form_error('tembusan') }}</span>
            </div>
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <a href="{{ route('admin.submission.update', {id: current_data.id}) }}"><button type="button" class="btn btn-default"><i class="fa fa-arrow-left"></i> Kembali</button></a>
        <div class="pull-right">
            <button type="submit" class="btn btn-success" name="buttonSubmit" value="save"><i class="fa fa-save"></i> Simpan</button>
        </div>
    </div>
    <!-- /.box-footer -->
</form>

<!-- Bootstrap WYSIHTML5 -->
<script src="{{ base_url() }}assets/admin-template/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<!-- bootstrap datepicker -->
<script src="{{ base_url() }}assets/admin-template/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script> 

<!-- Page script -->
<script>
  $(function () {

    //bootstrap WYSIHTML5 - text editor
    $('.textarea').wysihtml5({
        toolbar: {
            "image": false
        }
    })

    //Date picker
    $('.datepicker').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: "dd M yyyy",
    })

  })
</script>
{% endblock %}