{% extends 'admin/templates/index.twig' %}

{% block content %}
<!-- DataTables -->
<link rel="stylesheet" href="{{ base_url() }}assets/admin-template/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
    {{ title }}
    </h1>
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">List</h3>
    </div>
    <div class="box-body">
        <table id="example1" class="table table-striped" width="100%">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Judul Penelitian</th>
                    <th>Waktu / Lama Penelitian</th>
                    <th>Bidang Penelitian</th>
                    <th>Nama</th>
                    <th>Lembaga Pendidikan</th>
                    <th>Lampiran</th>
                    <th>Status Pengajuan</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                </tr>     
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        Footer
    </div>
    <!-- /.box-footer-->
    </div>
    <!-- /.box -->

</section>
<!-- /.content -->

<!-- DataTables -->
<script src="{{ base_url() }}assets/admin-template/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="{{ base_url() }}assets/admin-template/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<!-- page script -->
<script>
  $(function () {
      
    $("#example1").DataTable({
      ordering: false,
      processing: true,
      serverSide: true,
      ajax: {
        url: "{{ base_url() }}function/datatable",
        type:'POST',
        data: {
          'modelName' : 'Submission',
          'modelLocation' : 'admin/Submission',
          'columnSelects' : ['id','name','institution','research_title','research_location','research_time_start','research_time_end','research_category','research_status','submission_status','attachment'],
          'columnSearches' : ['research_title','research_location'],
        },
      },
      columns: [
        { "data" : "no" },
        { "data": "research_title" },
        { 
          "data": null, 
          "mRender": function (data, type, full, meta) {
            const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
            var timeStart = new Date(full['research_time_start']);
            var timeEnd = new Date(full['research_time_end']);
            return monthNames[timeStart.getMonth()] +' '+ timeStart.getFullYear() +' - '+ monthNames[timeEnd.getMonth()] +' '+ timeEnd.getFullYear();
          }
        },
        { "data": "research_category" },
        { "data": "name" },
        { "data": "institution" },
        {
          "sClass": "text-center",
          "data" : "attachment",
          "mRender": function (data) {
            return '<a href="{{ base_url() }}uploads/attachments/' +data+ '">' +data+ '</a>';
          }
        },
        {
          "sClass": "text-center",
          "data" : "submission_status",
          "mRender": function (data) {
            if (data == '0') {
              return '<span class="label label-default">Belum Dikirim</span>';
            } else if (data == '1') {
              return '<span class="label label-warning">Diproses</span>';
            } else if (data == '2') {
              return '<span class="label label-primary">Menunggu Tanda Tangan</span>';
            } else if (data == '3') {
              return '<span class="label label-success">Selesai</span>';
            } else if (data == '-1') {
              return '<span class="label label-danger">Revisi</span>';
            }
          }
        },
        {
          "sClass": "text-center",
          "data" : null,
          "mRender": function (data, type, full, meta) {
            var buttonUpdate = '';
            var buttonPrint = '';
            if (full['submission_status'] < 3 && full['submission_status'] > 0) {
              buttonUpdate = '<a class="btn btn-warning" href="{{ base_url() }}admin/submission/update/'+ full['id'] +'"><i class="fa fa-edit"></i> Proses</a>';

              if (full['submission_status'] > 1) {
                buttonPrint = '<a class="btn btn-info" href="{{ base_url() }}admin/submission/print/'+ full['id'] +'" target="_blank"><i class="fa fa-print"></i> Cetak</a> ';
              } else {
                buttonPrint = '<button class="btn btn-default" disabled><i class="fa fa-print"></i> Cetak</button> ';
              }              
            }
            else if (full['submission_status'] > 1) {
              buttonPrint = '<a class="btn btn-info" href="{{ base_url() }}admin/submission/print/'+ full['id'] +'" target="_blank"><i class="fa fa-print"></i> Cetak</a> ';
              buttonUpdate = '<a class="btn btn-primary" href="{{ base_url() }}admin/submission/update/'+ full['id'] +'"><i class="fa fa-external-link"></i> Detail</a>';
            }
            else {
              buttonUpdate = '<button class="btn btn-default" disabled><i class="fa fa-edit"></i> Proses</button>';
            }

            return buttonPrint + buttonUpdate;
          }
        }
      ]
    });
  })
</script>
{% endblock %}