<style>
  li {
    font-size: 10pt;
  }

</style>

<!DOCTYPE html>
<html>

<head>
  <title>Cetak</title>
</head>

<body>
  <table style="border-collapse: collapse; width: 100%;">
    <tbody>
      <tr style="vertical-align: bottom;">
        <td style="width: 100px">
          <img src="{{ base_url() }}assets/admin-template/dist/img/logo-kab-banjar.png" width="100" height="120">
        </td>
        <td>
          <p style="text-align: center;"><strong><span style="font-family: 'times new roman', times; font-size: 12pt;">
              PEMERINTAH KABUPATEN BANJAR<br /></span></strong><strong><span
                  style="font-family: arial, helvetica, sans-serif; font-size: 14pt;">BADAN
                    KESATUAN BANGSA DAN POLITIK<br /></span></strong><span
                style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">JL. A. YANI KM. 40 GEDUNG BERINTAN LT.III
                MARTAPURA KAL-SEL TELP/FAX (0511) 4721113<br />
                Website : kesbangpol.banjarkab.go.id</span></p>
        </td>
        <td style="width: 100px">&nbsp;</td>
      </tr>
    </tbody>    
  </table>
  <hr />
  <p style="text-align: center;"><span style="font-family: arial, helvetica, sans-serif;"><span
        style="text-decoration: underline;"><strong><span style="font-size: 12pt;">REKOMENDASI
            PENELITIAN</span></strong></span><br /></span><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Nomor : {{ current_data.research_number }}</span></p>
  
  <table style="border-collapse: collapse; width: 100%;">
    <tbody>
      <tr>
        <td style="width: 150px;" valign="top"><span
            style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">A. Dasar</span></td>
        <td style="width: 5px;" valign="top"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">:</span></td>
        <td valign="top">
          <ol>
            <li><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">Peraturan Menteri Dalam Negeri
                Nomor 7 Tahun 2014 Tentang Perubahan Atas Peraturan Menteri Dalam Negeri Nomor 64 Tahun 2011 Tentang
                Pedoman Penerbitan Rekomendasi Penelitian;</span></li>
            <li><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">Surat Edaran Direktur Jenderal
                Kesatuan Bangsa dan Politik Kemendagri RI. Nomor 070/1143.D.I Tanggal 24 Maret 2014 Tentang Penerbitan
                Rekomendasi Penelitian;</span></li>
            <li><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">Peraturan Bupati Banjar Nomor
                50 Tahun 2012 Tentang Uraian Tugas Badan Kesatuan BAngsa dan Politik Kabupaten Banjar.</span></li>
          </ol>
        </td>
      </tr>
      <tr>
        <td valign="top"><span
            style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">B. Menimbang</span></td>
        <td valign="top"><span
            style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">:</span></td>
        <td valign="top"><span
            style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">{{ current_data.menimbang }}</span></td>
      </tr>
      <tr>
        <td valign="top"><span
            style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">C. Mengingat</span></td>
        <td valign="top"><span
            style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">:</span></td>
        <td valign="top"><span
            style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">Memberikan Rekomendasi Penelitian Kepada
            :</span></td>
      </tr>
      <tr>
        <td valign="top"><span
            style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">a. Nama/ Obyek</span></td>
        <td valign="top"><span
            style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">:</span></td>
        <td valign="top"><span
            style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">{{ current_data.name|upper }}</span></td>
      </tr>
      <tr>
        <td valign="top"><span
            style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">b. Alamat/Tempat/</span><br /><span
            style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">&nbsp; &nbsp;
            Identitas/NIP/NIM</span><br /><span
            style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">&nbsp; &nbsp; /NIK </span></td>
        <td valign="top"><span
            style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">:</span></td>
        <td valign="top"><span
            style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">{{ current_data.address }}</span><br /><span
            style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">{{ current_data.identity_number }}</span></td>
      </tr>
      <tr>
        <td valign="top"><span
            style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">c. Untuk</span></td>
        <td valign="top"><span
            style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">:</span></td>
        <td valign="top">
          <ol>
            <li><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">Melakukan Penelitian/
                Permintaan Data dengan Proposal berjudul : {{ current_data.research_title|upper }}</span></li>
            <li>
              <table style="border-collapse: collapse; width: 100%; height: 21px;" border="0">
                <tbody>
                  <tr>
                    <td style="width: 200px; vertical-align: top;"><span style="font-size: 10pt;">Lokasi Penelitian</span></td>
                    <td style="width: 5px; vertical-align: top;"><span style="font-size: 10pt;">:</span>
                    </td>
                    <td style="vertical-align: top;"><span style="font-size: 10pt;">Di Wilayah kerja Puskesmas Martapura 2</span></td>
                  </tr>
                </tbody>
              </table>
            </li>
            <li>
              <table style="border-collapse: collapse; width: 100%; height: 21px;" border="0">
                <tbody>
                  <tr style="vertical-align: top;">
                    <td style="width: 200px;"><span style="font-size: 10pt;">Waktu/ Lama Penelitian</span>
                    </td>
                    <td style="width: 5px;"><span style="font-size: 10pt;">:</span></td>
                    <td><span style="font-size: 10pt;">Mei s/d Agustus 2019</span></td>
                  </tr>
                </tbody>
              </table>
            </li>
            <li>
              <table style="border-collapse: collapse; width: 100%; height: 21px;" border="0">
                <tbody>
                  <tr style="vertical-align: top;">
                    <td style="width: 200px;"><span style="font-size: 10pt;">Bidang Penelitian</span></td>
                    <td style="width: 5px;"><span style="font-size: 10pt;">:</span></td>
                    <td><span style="font-size: 10pt;">Kesehatan</span></td>
                  </tr>
                </tbody>
              </table>
            </li>
            <li>
              <table style="border-collapse: collapse; width: 100%; height: 21px;" border="0">
                <tbody>
                  <tr style="vertical-align: top;">
                    <td style="width: 200px;"><span style="font-size: 10pt;">Status Penelitian</span></td>
                    <td style="width: 5px;"><span style="font-size: 10pt;">:</span></td>
                    <td><span style="font-size: 10pt;">BARU</span></td>
                  </tr>
                </tbody>
              </table>
            </li>
            {% if (current_data.research_member != NULL) %}
            <li>
              <table style="border-collapse: collapse; width: 100%; height: 21px;" border="0">
                <tbody>
                  <tr style="vertical-align: top;">
                    <td style="width: 200px;"><span style="font-size: 10pt;">Anggota</span></td>
                    <td style="width: 5px;"><span style="font-size: 10pt;">:</span></td>
                    <td><span style="font-size: 10pt;">{{ current_data.research_member|raw }}</span></td>
                  </tr>
                </tbody>
              </table>
            </li>
            {% endif %}
          </ol>
        </td>
      </tr>
      <tr>
        <td colspan="3"><span style="font-size: 10pt;">d. Melaporkan Hasil Penelitian Kepada
            Bupati Banjar C.q. Kepala Badan Kesatuan Bangsa dan Politik Kabupaten Banjar, Paling lambat 6 ( Enam ) bulan
            setelah Penelitian.</span></td>
      </tr>
      <tr>
        <td colspan="3">
          <table style="width: 100%;" border="0">
            <tbody>
              <tr>
                <td>&nbsp;</td>
                <td style="width: 200px;">
                  <p style="text-align: center;"><span style="font-size: 10pt;">Martapura, {{ current_data.tanggal_surat|date("d-m-Y") }}</span></p>
                  <p style="text-align: center;"><span style="font-size: 10pt;">Kepala Badan</span></p>
                  <p style="text-align: center;">&nbsp;</p>
                  <p style="text-align: center;"><span style="text-decoration: underline; font-size: 10pt;">Aslam S. Sos.
                      M. AP</span><br /><span style="font-size: 10pt;">Pembina Tingat I</span><br /><span
                      style="font-size: 10pt;">NIP. 19550521 198903 1 010</span></p>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td colspan="3" valign="top">
          Tembusan yth<br />
          {{ current_data.tembusan|raw }}
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>