{% extends 'admin/templates/index.twig' %}

{% block content %}
<!-- DataTables -->
<link rel="stylesheet" href="{{ base_url() }}assets/admin-template/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">

<!-- Content Header (Page header) -->
<section class="content-header">
    {{ block('content_header', 'admin/submission/partials/_content_header.twig') }}
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Proses</h3>
        </div>
        
        {% if form_type == 'update' %}
            {{ block('form', 'admin/submission/partials/_form.twig') }}
        {% elseif form_type == 'revision' %}
            {{ block('form', 'admin/submission/partials/_form_revision.twig') }}
        {% elseif form_type == 'numbering' %}
            {{ block('form', 'admin/submission/partials/_form_numbering.twig') }}
        {% endif %}
    </div>
    <!-- /.box -->

</section>
<!-- /.content -->

{% endblock %}