{% extends 'admin/templates/index.twig' %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
  {{ block('content_header', 'admin/profile/partials/_content_header.twig') }}
</section>

<!-- Main content -->
<section class="content">

  <!-- Default box -->
  <div class="box box-success">
      <div class="box-header with-border">
          <h3 class="box-title">Ubah</h3>
      </div>
      
      {{ block('form', 'admin/profile/partials/_form.twig') }}
  </div>
  <!-- /.box -->

</section>
<!-- /.content -->

<!-- page script -->
<script>
  $(function () {
      
    
  })
</script>
{% endblock %}