{% block header %}
<header class="main-header">
  <nav class="navbar navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a href="{{ route('member.submission') }}" class="navbar-brand"><b>KESBANG</b>POL</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="{{ route('member.submission') == current_url() ? 'active' }}"><a href="{{ route('member.submission') }}">Pengajuan</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

          <!-- Notifications Menu -->
          <li class="dropdown notifications-menu">
            <!-- Menu toggle button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">{{ notification('member').total_all }}</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have {{ notification('member').total_all }} notifications</li>
              <li>
                <!-- Inner Menu: contains the notifications -->
                <ul class="menu">
                  <li>
                    <a href="{{ route('member.submission') }}">
                      <i class="fa fa-file-text text-primary"></i> {{ notification('member').total_numbered }} pengajuan menunggu tanda tangan
                    </a>
                  </li>
                  <li>
                    <a href="{{ route('member.submission') }}">
                      <i class="fa fa-file-text text-success"></i> {{ notification('member').total_signatured }} pengajuan selesai
                    </a>
                  </li>                  
                  <li>
                    <a href="{{ route('member.submission') }}">
                      <i class="fa fa-file-text text-danger"></i> {{ notification('member').total_revision }} pengajuan revisi
                    </a>
                  </li>
                  <!-- end notification -->
                </ul>
              </li>
              <li class="footer"><a href="{{ route('member.submission') }}">View all</a></li>
            </ul>
          </li>
          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              {% if (user.picture == null) %}
                <img src="{{ base_url() }}assets/admin-template/dist/img/avatar5.png" class="user-image" alt="User Image">
              {% else %}
                <img src="{{ base_url() }}uploads/profiles/{{ user.picture }}" class="user-image" alt="User Image">
              {% endif %}
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">{{ user.name }}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                {% if (user.picture == null) %}
                  <img src="{{ base_url() }}assets/admin-template/dist/img/avatar5.png" class="img-circle" alt="User Image">
                {% else %}
                  <img src="{{ base_url() }}uploads/profiles/{{ user.picture }}" class="img-circle" alt="User Image">
                {% endif %}

                <p>
                  {{ user.name }}
                  <small>{{ user.email }}</small>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="{{ route('member.profile') }}" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="{{ route('member.logout') }}" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.navbar-custom-menu -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</header>
{% endblock %}