{% block scripts %}
<!-- Bootstrap 3.3.7 -->
<script src="{{ base_url() }}assets/admin-template/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="{{ base_url() }}assets/admin-template/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="{{ base_url() }}assets/admin-template/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="{{ base_url() }}assets/admin-template/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ base_url() }}assets/admin-template/dist/js/demo.js"></script>
{% endblock %}