<h1>{{ lang.line('login_heading') }}</h1>
<p>{{ lang.line('login_subheading') }}</p>

<div id="infoMessage">{{ message }}</div>

{{ form_open("auth/login") }}

  <p>
    {{ lang.line('login_identity_label', 'identity') }}
    {{ form.form_input(identity) }}
  </p>

  <p>
    {{ lang.line('login_password_label', 'password') }}
    {{ form.form_input(password) }}
  </p>

  <p>
    {{ lang.line('login_remember_label', 'remember') }}
    {{ form.form_checkbox('remember', '1', FALSE, 'id="remember"') }}
  </p>


  <p>{{ form.form_submit('submit', lang.line('login_submit_btn')) }}</p>

{{ form_close() }}

<p><a href="forgot_password">{{ lang.line('login_forgot_password') }}</a></p>