{% block form %}

<form class="form-horizontal" action="{{ route('admin.profile.store') }}" method="POST" enctype="multipart/form-data">
    <div class="box-body">

        <input type="hidden" name="id" value="{{ current_data.id }}">
        <input type="hidden" name="form_type" value="{{ form_type }}">

        <div class="form-group {{ form_error('email') ? 'has-error' }}">
            <label for="email" class="col-sm-4 control-label">Email</label>
            <div class="col-sm-8">
                <input type="input" class="form-control" name="email" value="{{ set_value('email', current_data.email) }}">
                <span class="help-block">{{ form_error('email') }}</span>
            </div>
        </div>
        
        <div class="form-group {{ form_error('password') ? 'has-error' }}">
            <label for="password" class="col-sm-4 control-label">Password</label>
            <div class="col-sm-8">
                <input type="input" class="form-control" name="password" placeholder="Kosongkan jika tidak ingin ganti password">
                <span class="help-block">{{ form_error('password') }}</span>
            </div>
        </div>

        <div class="form-group {{ form_error('name') ? 'has-error' }}">
            <label for="name" class="col-sm-4 control-label">Nama Lengkap</label>
            <div class="col-sm-8">
                <input type="input" class="form-control" name="name" value="{{ set_value('name', current_data.name) }}">
                <span class="help-block">{{ form_error('name') }}</span>
            </div>
        </div>

        <div class="form-group {{ form_error('picture') ? 'has-error' }}">
            <label for="picture" class="col-sm-4 control-label">Gambar</label>
            <div class="col-sm-8">
                {% if (current_data.picture == NULL) %}
                    <img src="{{ base_url() }}assets/admin-template/dist/img/avatar5.png" width="250"> <p></p>
                {% else %}
                    <img src="{{ base_url() }}uploads/profiles/{{ current_data.picture }}" width="250"> <p></p> 
                {% endif %}
                <input type="file" class="form-control" name="picture" accept=".jpg, .png">
                <span class="help-block">{{ form_error('picture') }}</span>
                File gambar haru berformat .jpg atau .png. File tidak boleh lebih dari 5MB.
            </div>
        </div>


    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <div class="pull-right">
            <button type="submit" class="btn btn-success" name="buttonSubmit" value="save"><i class="fa fa-save"></i> Simpan</button>
        </div>
    </div>
    <!-- /.box-footer -->
</form>

{% endblock %}