{% block header %}
<header class="main-header">
    <!-- Logo -->
    <a href="{{ route('admin.dashboard') }}" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>K</b>BL</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>KESBANG</b>POL</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
            <!-- Menu toggle button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">{{ notification('admin').total_all }}</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have {{ notification('admin').total_all }} notifications</li>
              <li>
                <!-- Inner Menu: contains the notifications -->
                <ul class="menu">
                  <li>
                    <a href="{{ route('admin.submission') }}">
                      <i class="fa fa-file-text text-orange"></i> {{ notification('admin').total_progress }} pengajuan belum diproses
                    </a>
                  </li>
                  <li>
                    <a href="{{ route('admin.submission') }}">
                      <i class="fa fa-file-text text-primary"></i> {{ notification('admin').total_numbered }} pengajuan menunggu tanda tangan
                    </a>
                  </li>  
                  <!-- end notification -->
                </ul>
              </li>
              <li class="footer"><a href="{{ route('admin.submission') }}">View all</a></li>
            </ul>
          </li>
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {% if (user.picture == null) %}
                <img src="{{ base_url() }}assets/admin-template/dist/img/avatar5.png" class="user-image" alt="User Image">
              {% else %}
                <img src="{{ base_url() }}uploads/profiles/{{ user.picture }}" class="user-image" alt="User Image">
              {% endif %}
              <span class="hidden-xs">{{ ion_auth.user.row.name }}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                {% if (user.picture == null) %}
                  <img src="{{ base_url() }}assets/admin-template/dist/img/avatar5.png" class="img-circle" alt="User Image">
                {% else %}
                  <img src="{{ base_url() }}uploads/profiles/{{ user.picture }}" class="img-circle" alt="User Image">
                {% endif %}

                <p>
                  {{ ion_auth.user.row.name }} 
                  <small>{{ ion_auth.user.row.email }}</small>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="{{ route('admin.profile') }}" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="{{ route('admin.logout') }}" class="btn btn-default btn-flat">Log out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
</header>
{% endblock %}