{% block scripts %}
<!-- Bootstrap 3.3.7 -->
<script src="{{ base_url() }}assets/admin-template/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="{{ base_url() }}assets/admin-template/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="{{ base_url() }}assets/admin-template/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="{{ base_url() }}assets/admin-template/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ base_url() }}assets/admin-template/dist/js/demo.js"></script>

<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
<script>var OneSignal = OneSignal || [];</script>

<script>
  $(document).ready(function () {
    $('.sidebar-menu').tree()

    var OneSignal = OneSignal || [];

    OneSignal.push(["init", {
      appId: "3faede13-5613-4f5f-8b98-405957458324",
      // Your other init settings
    }]);

    OneSignal.push(function() {
      /* These examples are all valid */
      OneSignal.isPushNotificationsEnabled(function(isEnabled) {
        if (isEnabled)
          console.log("Push notifications are enabled!");
        else
          console.log("Push notifications are not enabled yet.");    
      });
                  
      OneSignal.isPushNotificationsEnabled().then(function(isEnabled) {
        if (isEnabled)
          console.log("Push notifications are enabled!");
        else
          console.log("Push notifications are not enabled yet.");      
      });
    });
  })
</script>
{% endblock %}