{% block sidebar %}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          {% if (user.picture == null) %}
            <img src="{{ base_url() }}assets/admin-template/dist/img/avatar5.png" class="img-circle" alt="User Image">
          {% else %}
            <img src="{{ base_url() }}uploads/profiles/{{ user.picture }}" class="img-circle" alt="User Image">
          {% endif %}
        </div>
        <div class="pull-left info">
          <p>{{ ion_auth.user.row.name }}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>        
        <li class="{{ route('admin.dashboard') == current_url() ? 'active' }}"><a href="{{ route('admin.dashboard') }}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>

        {% if ion_auth.in_group(['admin']) %}
          <li class="{{ route('admin.employee') == current_url() ? 'active' }}"><a href="{{ route('admin.employee') }}"><i class="fa fa-user"></i> <span>Pegawai</span></a></li>
        {% endif %}

        {% if ion_auth.in_group(['admin']) %}
          <li class="{{ route('admin.applicant') == current_url() ? 'active' }}"><a href="{{ route('admin.applicant') }}"><i class="fa fa-users"></i> <span>Peserta</span></a></li>
        {% endif %}

        {% if ion_auth.in_group(['employee','admin']) %}
          <li class="{{ route('admin.submission') == current_url() ? 'active' }}"><a href="{{ route('admin.submission') }}"><i class="fa fa-file-text"></i> <span>Pengajuan Penelitian</span></a></li>
        {% endif %}

        {% if ion_auth.in_group(['employee','admin']) %}
          {% if current_url() in [route('admin.report.applicant'), route('admin.report.submission')] %}
          <li class="treeview active">
          {% else %}
          <li class="treeview">
          {% endif %}
            <a href="#">
              <i class="fa fa-file-text-o"></i> <span>Laporan</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li class="{{ current_url() == route('admin.report.applicant') ? 'active' : ''}}"><a href="{{ route('admin.report.applicant') }}"><i class="fa fa-circle-o"></i> Laporan Peserta Baru</a></li>
              <li class="{{ current_url() == route('admin.report.submission') ? 'active' : ''}}"><a href="{{ route('admin.report.submission') }}"><i class="fa fa-circle-o"></i> Laporan Pengajuan Penelitian</a></li>
            </ul>
          </li>

        {% endif %}
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
  {% endblock %}